<h1>Write a new comment</h1>

<div id="post-comment" class="row">
  <%= form_for @comment do |f| %>
    <fieldset class="small-12 columns">
      <legend>Post a new comment</legend>
        <%= render 'partials/display_errors', object: f.object %>
      <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <%= f.text_field :content, placeholder: "Post your new comment" %>
      <%= f.submit "Post comment" %>
    </fieldset>
  <% end %>
</div>