<div class="row">
  <h1 class="large-5 large-offset-3 small-12 columns">Slacker News</h1>
</div>

<div class="row">
  <%= form_for @link do |f| %>
    <fieldset class="small-12 columns">
      <legend>Post a new link</legend>
        <%= render 'partials/display_errors', object: f.object %>
      <%= f.text_field :url, placeholder: "Post your new link" %>
      <%= f.submit "Submit" %>
    </fieldset>
  <% end %> 
</div>
<section class="links_body">
  <div class="row">
    <% if !@links.nil? %>
      <%= render 'links/display_links' %>
    <% end %>
  </div>
<section>